/*

yellow = #FFEB3B
orange = #DD2C00

*/

html {
	min-height: 100vh;
	background: #eeeeee;
	font-family: sans-serif;
	color: #000;
	font-size: 16px;
	margin: 0;
	padding: 0;
}

body {
	padding: 0 0.5em;
	margin: 5px 0;
}

h1 {
	text-align: center;
}

a {
	color: inherit;
	cursor: pointer;
	transition: 0.1s all ease-in;
}

a:focus,
a:hover {
	transition: 0.1s all ease-in;
}

ol {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.wrapper {
	max-width: 1280px;
	margin: 0 auto;
}

.page-header {
	position: relative;
}

.reset {
	position: absolute;
	display: inline-block;
	padding: 0.5em;
}

.list {
	margin: 1vh 0;
	height: 98vh;
	display: flex;
	justify-content: space-between;
	align-content: space-between;
	flex-flow: column;
}

.list li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 3em;
	padding: 0.4em;
	border: 2px solid #424242;
	border-radius: 5px;
	background: #fff;
}

.title {
		text-transform: uppercase;
		font-weight: bold;
		letter-spacing: 2.3px;
}

.title.sold {
	text-decoration: line-through;
}

.controls {
	display: flex;
	align-items: center;
}

.controls__item {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	border: 2px solid #424242;
	border-radius: 2px;

	font-weight: bold;
}

.controls__item.count {
	text-align: center;
	width: 300px;
	height: 80px;
	margin: 0 69px;
	border: 5px solid #2e7d32;
	border-radius: 2px;
	font-size: 70px;
}

.controls__item.arrow {
	padding: 0.5em;
	border-radius: 50%;
	border: 2px solid #000;
}

.controls__item.warning {
	border-color: #c62828;
}

@media screen and (max-width: 500px) {
	html {
		font-size: 0.9em;
	}

	.controls__item.count {
		margin: 0;
	}

	.controls__item.arrow {
		display: none;
	}

	.reset {
		display: none;
	}
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}

@media screen and (max-width: 500px) {
	html {
		font-size: 0.8em;
	}

	h1 {
		font-size: 1.8em;
	}
}
